<template>
  <div class="image-analysis-app">
    <ImageUploader @image-uploaded="handleImageUpload" />
    <v-btn class="analyze-btn" @click="callApi" :disabled="!selectedFile"> Analyze Image </v-btn>
    <div v-if="loading" class="loader"></div>
    <ImageViewer
      v-if="imageData.url"
      :imageSrc="imageData.url"
      :boxes="imageData.boxes"
      @update-boxes="updateBoxes"
    />
  </div>
</template>

<script setup>
import { ref } from 'vue'
import ImageUploader from '@/components/ImageUploader.vue'
import ImageViewer from '@/components/ImageViewer.vue'
import { uploadImageToCloudFunction } from '@/api'
const selectedFile = ref(null)
const imageData = ref({
  url: null,
  boxes: []
})
const loading = ref(false)

function handleImageUpload(file) {
  selectedFile.value = file
}

async function callApi() {
  if (selectedFile.value) {
    loading.value = true

    try {
      const response = await uploadImageToCloudFunction(selectedFile.value)
      imageData.value.url = response.url
      imageData.value.boxes = response.metadata.map((obj) => ({
        top: obj.bbox.ymin * 100,
        left: obj.bbox.xmin * 100,
        width: (obj.bbox.xmax - obj.bbox.xmin) * 100,
        height: (obj.bbox.ymax - obj.bbox.ymin) * 100,
        id: uniqueId()
      }))
      console.log(response)
      loading.value = false
    } catch (error) {
      console.error('Error calling the API:', error)
    }
  }
}

function updateBoxes(updatedBoxes) {
  imageData.value.boxes = updatedBoxes
}

const uniqueId = () => {
  return '_' + Math.random().toString(36).substr(2, 9)
}
</script>

<style scoped>
.image-analysis-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.analyze-btn {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #ffd42a;
  color: black;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.analyze-btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px; 
}

.loader {
  margin-top: 20px;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .image-analysis-app {
    width: 100%;
  }
  .analyze-btn {
    width: 100%;
  }
}
</style>
