<template>
  <div
    class="bounding-box"
    :style="boxStyle"
    @mousedown="startDrag"
    @touchstart="startDrag"
    v-show="!isDeleted"
  >
    <span class="delete-box" @click="deleteSelf">X</span>
    <div class="resize-handle" @mousedown="startResize" @touchstart.prevent="startResize"></div>
  </div>
</template>

<script>
export default {
  props: {
    box: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      isDragging: false,
      isResizing: false,
      isDeleted: false,
      startDragPos: { x: 0, y: 0 },
      startSize: { width: 0, height: 0 }
    }
  },
  computed: {
    boxStyle() {
      return {
        top: this.box.top + '%',
        left: this.box.left + '%',
        width: this.box.width + '%',
        height: this.box.height + '%',
        position: 'absolute',
        border: '2px solid red',
        boxSizing: 'border-box'
      }
    }
  },
  methods: {
    startDrag(event) {
      this.isDragging = true
      this.startDragPos = {
        x: event.clientX,
        y: event.clientY
      }
      document.addEventListener('mousemove', this.dragging)
      document.addEventListener('mouseup', this.endDrag)
      document.addEventListener('touchmove', this.dragging)
      document.addEventListener('touchend', this.endDrag)
    },
    dragging(event) {
      if (this.isDragging) {
        const x = event.clientX || event.touches[0].clientX
        const y = event.clientY || event.touches[0].clientY
        const dx = x - this.startDragPos.x
        const dy = y - this.startDragPos.y
        this.startDragPos = { x, y }
        this.$emit('move-box', { dx, dy })
      }
    },
    endDrag() {
      this.isDragging = false
      document.removeEventListener('mousemove', this.dragging)
      document.removeEventListener('mouseup', this.endDrag)
      document.removeEventListener('touchmove', this.dragging)
      document.removeEventListener('touchend', this.endDrag)
    },
    startResize(event) {
      this.isResizing = true
      this.startSize = {
        width: this.box.width,
        height: this.box.height
      }
      this.startDragPos = {
        x: event.clientX,
        y: event.clientY
      }
      document.addEventListener('mousemove', this.resizing)
      document.addEventListener('mouseup', this.endResize)
      document.addEventListener('touchmove', this.resizing)
      document.addEventListener('touchend', this.endResize)
      event.stopPropagation()
    },
    resizing(event) {
      if (this.isResizing) {
        const x = event.clientX || event.touches[0].clientX
        const y = event.clientY || event.touches[0].clientY
        const dx = ((x - this.startDragPos.x) / this.$el.parentElement.offsetWidth) * 100
        const dy = ((y - this.startDragPos.y) / this.$el.parentElement.offsetHeight) * 100
        const newWidth = Math.max(this.startSize.width + dx, 5) // minimum size 5%
        const newHeight = Math.max(this.startSize.height + dy, 5) // minimum size 5%
        this.$emit('resize-box', { width: newWidth, height: newHeight })
      }
    },
    endResize() {
      this.isResizing = false
      document.removeEventListener('mousemove', this.resizing)
      document.removeEventListener('mouseup', this.endResize)
      document.removeEventListener('touchmove', this.resizing)
      document.removeEventListener('touchend', this.endResize)
    },
    deleteSelf() {
      this.isDeleted = true
      this.$emit('delete-box')
    }
  }
}
</script>

<style scoped>
.bounding-box {
  cursor: move;
  position: absolute;
  border: 2px solid #ff4136;
  box-sizing: border-box;
  box-shadow: 0 0 0 2px rgba(255, 65, 54, 0.5);
}

.bounding-box:hover {
  border-color: #0074d9;
  box-shadow: 0 0 10px 2px rgba(0, 116, 217, 0.5);
}

.bounding-box .delete-box {
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
  background-color: #ff4136;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1;
}

.bounding-box .resize-handle {
  position: absolute;
  right: -5px;
  bottom: -5px;
  width: 15px;
  height: 15px;
  cursor: nwse-resize;
  background-color: #0074d9;
  border: 2px solid #fff;
  border-radius: 50%;
}

.image-viewer img {
  display: block; 
}

.image-viewer {
  position: relative;
  width: 100%;
  padding-top: calc(810 / 1200 * 100%);
  background-color: #f0f0f0;
}

.image-viewer::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}
</style>
