<template>
  <v-container>
    <v-file-input
      label="Upload your image for detect the objects"
      @change="onFileSelected"
      accept="image/png, image/jpeg"
      outlined
      dense
    ></v-file-input>
  </v-container>
</template>

<script setup>
import { defineEmits } from 'vue'

const emit = defineEmits(['image-uploaded'])

function onFileSelected(e) {
  const file = e.target.files[0]
  if (file) {
    emit('image-uploaded', file)
  }
}
</script>
