<template>
  <div class="image-viewer">
    <img :src="imageSrc" alt="Analyzed Object" style="width: 1200px; height: 810px" />
    <BoundingBox
      v-for="(box, index) in boxes"
      :key="box.id"
      :box="box"
      @delete-box="deleteBox(index)"
      @resize-box="resizeBox(index, $event)"
      @move-box="moveBox(index, $event)"
    />
  </div>
</template>

<script>
import BoundingBox from '@/components/BoundingBox.vue'

export default {
  components: {
    BoundingBox
  },
  props: {
    imageSrc: String,
    boxes: Array
  },
  methods: {
    deleteBox(index) {
      this.boxes.splice(index, 1)
      this.$emit('update-boxes', this.boxes)
    },
    resizeBox(index, { width, height }) {
      let resizedBox = this.boxes[index]
      resizedBox.width = width
      resizedBox.height = height
      this.boxes.splice(index, 1, resizedBox)
      this.$emit('update-boxes', [...this.boxes])
    },
    moveBox(index, { dx, dy }) {
      let movedBox = this.boxes[index]
      movedBox.top += dy
      movedBox.left += dx
      this.boxes.splice(index, 1, movedBox)
      this.$emit('update-boxes', [...this.boxes])
    }
  }
}
</script>
<style>
.image-viewer {
  position: relative;
}

.image-viewer img {
  max-width: 100%;
  height: auto;
}
</style>
