<template>
  <v-app>
    <AppBar />
    <v-main>
      <router-view />
    </v-main>
    <FooterComponent/>
  </v-app>
</template>

<script setup>
import AppBar from './components/ui/AppBar.vue'
import FooterComponent from './components/ui/Footer.vue'
</script>
