<template>
  <v-footer app padless>
    <v-col class="text-center">
      © {{ new Date().getFullYear() }} promiseQ Gmbh. All Rights Reserved.
    </v-col>
  </v-footer>
</template>

<script>
export default {
  name: 'FooterComponent'
}
</script>
